# Variables de entorno para Railway
# Copia este archivo como .env para desarrollo local

PORT=5000
MONGO_URI=mongodb+srv://etzio1996_db_user:gtnoFrhpyuz3uZTp@halloween-game.malsfzu.mongodb.net/halloween_game?retryWrites=true&w=majority&appName=halloween-game
